<% layout("/layouts/boilerplate")%>
<body>
    <h1>Edit Your Place</h1>
    <form method="POST" action="/place/<%= place4._id %>?_method=PUT">
        <label for="title1">Enter title</label> 
    <input  placeholder="title" value="<%=place4.title%>" name="place[title]" type="text" id="title1" class="form-control mb-3"/>
   <label for="des1">Enter descriptiom</label>
    <textarea rows="10" cols="35" placeholder="description" name="place[description]" type="text" id="des1" class="form-control" ><%=place4.description %></textarea>
    <label for="imageurl1">Enter image url</label>
    <input  placeholder="image url" value="<%=place4.image%>" name="place[image]" type="text" id="imageurl1" class="form-control mb-3"/>
    <label for="price1">Enter image url</label>
    <input placeholder="price" value="<%=place4.price %>" name="place[price]" type="number" class="form-control mb-3" id="price1"/>
    <label for="location1">Enter image url</label>
    <input placeholder="location" value="<%=place4.location %>" name="place[location]" type="text" class="form-control mb-3" id="location1"/>
    <label for="country1">Enter image url</label>
    <input placeholder="country" value="<%=place4.country %>" name="place[country]" type="text" class="form-control mb-3" id="country1"/>
    <br><br>

        <button class="editbtn">Submit</button>
    </form>
</body>
